nav{
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
nav a{
    color: white;
}
a:hover{
    color: aqua;
    transition: all .5s ease-in;
}
img{
    display: block;
    height: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    max-width: 768px;
    margin: 2rem auto;
    box-shadow: 1px 1px 16px rgba(0,0,0,.25);
    box-shadow: -1px -1px 16px rgba(0,0,0,.25);
    box-shadow: 1px -1px 16px rgba(0,0,0,.25);
    box-shadow: -1px 1px 16px rgba(0,0,0,.25);
}
button {
    border: 2px solid #006D77;
    background-color: #AFD9D6;
    font-size: 120%;
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: all .5s ease-in-out;
}
button:hover {
    border-color: #AFD9D6;
    background-color: transparent;
}
.achilles button {
    border: 2px solid red;
}