nav{
    background: #AFD9D6;
    padding: 2rem 0;
    margin: 0 auto;
    height: 2em;
    width: 85%;
    display: flex;
    justify-content: flex-end;
}
p{
    font-family: "Montserrat" , sans-serif
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
h3{
    font-family: "Montserrat";
    font-size: smaller;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 500;
}
nav a {
    color: #5B4934;
    position: relative;
    padding: 1em;
    transition: all .5s ease-in;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: medium; 
}
a:hover{
    color: #E29578;
}
a.active {
    color: #E29578;
    text-decoration: underline;
}
details {
    background: #F8E7E1;
    padding: 0.5rem;
    width: 90%;
    font-family: "Montserrat";
    font-size: small;
    align-items: center;
    margin-bottom: 2rem; color: white;
    color: black;
}
details summary {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 70%;
    font-size: medium;
    color: black;
}
.small {
    font-size: 85%;
    font-weight: 300;
}
img{
    display: block;
    height: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    max-width: 80%;
    margin: 2rem auto;
    padding-right: 2rem;
    box-shadow: 1px 1px 16px rgba(0,0,0,.25);
    box-shadow: -1px -1px 16px rgba(0,0,0,.25);
    box-shadow: 1px -1px 16px rgba(0,0,0,.25);
    box-shadow: -1px 1px 16px rgba(0,0,0,.25);
}
.image {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image img {
    transition: all .3s ease-in-out;
}
.image img:hover {
    transform: scale(1.1);
}
section a:link {
    text-decoration: none;
    color: #222222; 
} 
section a:hover {
    color: #E29578;
}
section a:visited {
    color: #006D77;
    transition: .5s ease-out;
}
section a.gr {
    border: 2px solid #AFD9D6;
    background-color: white;
    font-family: "Montserrat";
    font-size: 85%;
    padding: 1rem 1rem;
    border-radius: 100px;
    transition: all .5s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: auto;
    margin-bottom: 1rem;
    color: black;
}
section a.gr:hover {
    border-color: transparent;
    background-color: #AFD9D6;
    cursor: pointer;
    color: black;
}
.gr {
    text-decoration: none;
    color: black;
}
.gr:hover{
    border-color: transparent;
    background-color: #AFD9D6;
    cursor: pointer;
}
ul{
    list-style-type: lower-roman;
}
footer {
    background: #AFD9D6;
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    color: #5B4934;
}
.priv:hover{
    color: #E29578;
    cursor: pointer;
    transition: all .5s ease-in;
}
.priv{
    padding-left: 1rem;
    padding-right: 1rem;
}